<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIAppFonts</key>
    <array>
        <string>HachiMaruPop-Regular.ttf</string>
        <string>EncodeSansSemiExpanded-Medium.ttf</string>
        <string>Schoolbell-Regular.ttf</string>
        <string>IndieFlower-Regular.ttf</string>
        <string>ArchitectsDaughter-Regular.ttf</string>
        <string>AveriaSansLibre-Regular.ttf</string>
        <string>SansitaSwashed-Regular.ttf</string>
        <string>Mali-Regular.ttf</string>
        <string>Sansation_Regular.ttf</string>
        <string>PlayfairDisplay-Regular.ttf</string>
        <string>fontspring-demo-ceraroundpro-regular.otf</string>
        <string>BalsamiqSans-Regular.ttf</string>
        <string>minecraft_font.ttf</string>
        <string>GamjaFlower-Regular.ttf</string>
        <string>Nunito-Medium.ttf</string>
        <string>TwinkleStar-Regular.ttf</string>
        <string>Gaegu-Regular.ttf</string>
        <string>ElsieSwashCaps-Regular.ttf</string>
        <string>Roboto-Medium.ttf</string>
        <string>Rye-Regular.ttf</string>
        <string>SairaStencilOne-Regular.ttf</string>
        <string>Poppins-Medium.ttf</string>
        <string>Inter-Medium.ttf</string>
        
    </array>
</dict>
</plist>
